{% extends "base.html" %}

{% block content %}

    <div id="three-column0" class="container">
        <div id="synset-info">
            <b>English definition:</b> {{en_definition}}

            <br><br>

            <b>English lemmas: </b>
            {% for (name, sense) in en_lemmas %}
                {% if loop.index0 == en_lemmas|length - 1 %}
                    {{name}} - {{sense}}
                {% else %}
                    {{name}} - {{sense}},
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="three-column1" class="container">
        <form action="create_synset" method="post">
            <ul class="form-style-1" id="create_synset_ul">
                <input type="hidden" name="lemma_counter" id="lemmaCounter">

                <li>
                    <label>Synset id<span class="required">*</span></label>
                    <input type="text" name="synset_id" value="{{synset_id}}" class="field-long">
                </li>

                <li>
                    <label>Definition<span class="required">*</span></label>
                    <textarea name="definition" id="definition" class="field-long field-textarea"></textarea>
                </li>

                <li>
                    <label>Nonlexicalized</label>
                    <input type="checkbox" name="nonlexicalized" onclick="isLexicalized()" value="{{nonlexicalized}}" id="nonlexicalized">
                </li>

                <li>
                    <label>Stamp<span class="required">*</span></label>
                    <input type="text" name="stamp" value="{{stamp}}" class="field-long">
                </li>

                <li>
                    <label>Lemmas</label>
                    <button id="addLemma" onclick="addLemmaFcn()" type="button">Add Lemma</button>
                    <button id="removeLemma" onclick="removeLemmaFcn()" type="button">Remove Lemma</button>
                </li>

                <li><input type='submit' name='submit' value="Create synset"/></li>
            </ul>
        </form>
    </div>


{% endblock %}